*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    /*#002420*/
    display: flex;
    flex-direction: column;
}
h2{
    flex: 1;
}
.nav-bar{
    display: flex;
    padding: 3%;
    background-color: #002420;
    color: ghostwhite;
}
.nav-links{
    flex: 1;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

img{
    width: 50%;
}
