*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    /*#002420*/
    display: flex;
    flex-direction: column;
}
h2{
    flex: 1;
    color: #fff;
}
.nav-bar{
    display: flex;
    padding: 3%;
    background-color: #002420;
    color: ghostwhite;
}
.nav-links{
    flex: 1;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul li{
    font-size: 18px;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
ul li :hover{
    color: #e5e7eb;
    opacity: 0.5;
    text-decoration: underline;
    transition: ease-in 0.3s;
    
}

img{
    width: 50%;
}
